<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User successfully created</title>
</head>
<body>
      <p>User <span style="font-weight: bold"><%= user.name %></span>, email: 
      <span style="font-weight: bold"><%= user.email %></span> created
    </p>
</body>
</html>